SECRET_KEY=i4xnj=4k2uo!2e0=5ci*@ah10h*u(jr8s+!+p7cq+ng8bnl$1!
DEBUG=True  # или False для продакшена

DATABASE_NAME=myprojectdb
DATABASE_USER=myprojectuser
DATABASE_PASSWORD=strong_password_123
DATABASE_HOST=localhost
DATABASE_PORT=5432